* {
	margin: 0;
}

h1 {
	margin-top: 10px;
	font-family: Helvetica;
	text-align: center;
	color: white;
	border-bottom: thin solid white;
}

body {
	background-color: #15202b;
	max-width: 600px;
	margin: auto;
	border-left: thin solid white;
	border-right: thin solid white;
}

form {
	display: flex;
	margin: auto;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
	background-color: #15202b;
}

button {
	background-color: #1da1f2;
}

.text-content {
	font-size: 25px;
	padding-top: 10px;
	font-family: Helvetica;
	color: white;
}

.not-tweets {
	display: block;
	height: 50px;
	border-bottom: thin solid white;
}
